{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
	<center>
		<div class="col" style="padding-top: 4%;">
			<h1>{{candidato.nm_candidato|title}} | {{candidato.nm_urna_candidato|title}}</h1>
		</div>
	</center>
</div>
<div class="row" style="padding-left: 15%; padding-top: 5%;">
  <div class="col-10 ">
    <div class="card">
      <div class="card-body">
	     <table class="table">
	   	   <thead class="thead-dark">
   			  <tr>
      			<th scope="col">Nº Identificador</th>
      			<th scope="col">Nº Votos</th>
      			<th scope="col">Município</th>
      			<th scope="col">Partido</th>
      			<th scope="col">Sigla</th>
      			<th scope="col">Cargo</th>
      			<th scope="col">Status</th>
    		  </tr>
    	   </thead>
    	   <tbody>
    		  <tr>
    			 <td>{{candidato.sq_candidato}}</td>
    			 <td>{{candidato.sg_ue}}</td>
    			 <td><a href="{% url 'core:candidatos-eleitos' num=candidato.sg_ue %}">{{candidato.nm_ue|title}}</td></a>
    			 <td>{{candidato.nm_partido|title}}</td>
    			 <td>{{candidato.sg_partido}}</td>
    			 <td>{{candidato.ds_cargo|title}}</td>
    			 <td>{{candidato.ds_sit_tot_turno|title}}</td>
    		  </tr>
  		  </tbody>
  	   </table>
      </div>
    </div>
  </div>
</div>


{% endblock content %}